.banner{
    width: 100%;
    height: 450px;
    overflow: hidden; // tránh lỗi hình quá lớn đè lên nội dung các phần khác
    padding-left: 15px;
    box-sizing: border-box; // cố định kích thước của slide
}
.container-fluid{
    z-index: 0;
    padding: 0px 0px 0px 0px;
}

/*Test jumbotron*/
.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:#003640;
}
.jumbotron .video-embed {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    object-fit: cover;
}

iframe {
    height:100vh;
    width:100vw;
}
.jumbotron .container {
    z-index: 2;
    position: relative;
}
.container-placer {
    /* position on the page */
    z-index: 0;
    top: 0;
    left: 0;
}
.embed-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.embed-container > * {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}